.wrap > div {
    border: 1px solid gray;
    width: 100px;
    height: 100px;
    margin: 10px;
    float: left;
}

.wrap > div:nth-child(2) {
    color: red;
    float: left;
    margin-left: 100px;
}