.wrap {
    position: relative;
    background-color: slategray;
    z-index: 1; /* z-index는 부모값이 우선, 이후 자식끼리 비교 */
}

.wrap > div {
    width: 100px;
    height: 100px;
    margin: 0.5rem;
    color: white;
    position: absolute;
}

.wrap > div:nth-child(1) {
    top: 10px;
    left: 10px;
    background-color: red;
    z-index: 1;
}

.wrap > div:nth-child(2) {
    top: 30px;
    left: 30px;
    background-color: green;
    z-index: 10;
}

.wrap > div:nth-child(3) {
    top: 50px;
    left: 50px;
    background-color: blue;
    z-index: -1;
}

.wrap2 {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 100px;
    left: 100px;
    background-color: yellow;
    z-index: 2;
}