/* 
아쉬운 점
1. variables
2. mix-in
3. 중첩된 룰 처리
4. operation (연산)
*/

.wrap {
    width: 300px;
    height: 400px;
    border: 2px solid #9ba980;
    padding: 1rem;
}

.wrap h3 {
    text-align: center;
    color: #6b7275;
}

.content {
    width: 200px;
    height: 100px;
    border: 2px solid #9ba980;
    margin: 0px auto;
}

.content li {
    list-style: none;
}

.content li a {
    color: #6b7275;
}

footer li {
    color: v#745f67;
}

footer ul {
    width: 200px;
    height: 80;
    border: 2px solid #745f67;
    margin: 0px auto;
}